<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head.ejs', {title:"Cafe Buenos Aires", style:"index"}) %>

    <body>
        <%- include('./partials/header.ejs') %>
            <main>


                <div class="hero">
                    <img src="./images/hero_mobile.png" alt="">
                </div>

                <div class="seccion-recomendados">
                    <h2>Recomendados</h2>
                    <div class="producto-recomendado">
                        <div class="producto-recomendado-imagen">
                            <img src="./images/recomendado_brasil_mobile.png" alt="">
                        </div>
                        <div class="producto-recomendado-descripcion">
                            <h3>Brazil</h3>
                            <p>Color: datazo</p>
                            <p>Otro dato: Datazo</p>
                            <p>Tipo de algo: Dato</p>
                            <p>Tipo de algo: Dato</p>
                        </div>
                    </div>

                    <div class="producto-recomendado">
                        <div class="producto-recomendado-descripcion">
                            <h3>Colombia</h3>
                            <p>Color: datazo</p>
                            <p>Otro dato: Datazo</p>
                            <p>Tipo de algo: Dato</p>
                            <p>Tipo de algo: Dato</p>
                        </div>
                        <div class="producto-recomendado-imagen">
                            <img src="./images/recomendado_colombia_mobile.png" alt="">
                        </div>

                    </div>

                    <div class="producto-recomendado">
                        <div class="producto-recomendado-imagen">
                            <img src="./images/recomendado_sumantra_mobile.png" alt="">
                        </div>
                        <div class="producto-recomendado-descripcion">
                            <h3>Sumantra</h3>
                            <p>Color: datazo</p>
                            <p>Otro dato: Datazo</p>
                            <p>Tipo de algo: Dato</p>
                            <p>Tipo de algo: Dato</p>
                        </div>
                    </div> 

                    <div class="producto-recomendado">
                        <div class="producto-recomendado-descripcion">
                            <h3>Costa Rica</h3>
                            <p>Color: datazo</p>
                            <p>Otro dato: Datazo</p>
                            <p>Tipo de algo: Dato</p>
                            <p>Tipo de algo: Dato</p>
                        </div>
                        <div class="producto-recomendado-imagen">
                            <img src="./images/recomendado_costa-rica_mobile.png" alt="">
                        </div>

                    </div>
                </div>
                <section class="products">
                    <h2>Productos</h2>
                    <div class="products-filter">

                        <div class="products-filter-order">
                            <h4>Ordenar por</h4>
                            <input list="order-by-choice" id="order-by" name="order-by" />

                            <datalist id="order-by-choice">
                                <option value="Mayor Precio">
                                <option value="Menor Precio">
                            </datalist>
                        </div>

                        <div class="products-filter-categories">
                            <h4> Categorias </h4>
                            <ul class="products-filter-categories-list">
                                <li class="products-filter-categories-list__item"><a href="">Cafe y Te</a></li>
                                <li class="products-filter-categories-list__item"><a href="">Cafe de Especialidad</a>
                                </li>
                                <li class="products-filter-categories-list__item"><a href="">Tostado</a></li>
                                <li class="products-filter-categories-list__item"><a href="">Organico</a></li>
                            </ul>
                        </div>

                        <div class="products-filter-price">
                            <h4>Precio</h4>
                            <input type="number" name="min" id="price-min" placeholder="Min">
                            <input type="number" name="max" id="price-max" placeholder="Max">
                        </div>


                    </div>

                    <div class="products-cards">

                        <div class="searchBox">
                            <input id="searchBox__input" class="searchBox__input" placeholder="Buscar..." type="text" /><i
                                class="fa-solid fa-magnifying-glass"></i>
                        </div>

                        <div class="card space-arround">
                            <div class="products-cards__like">
                                <i class="fa-regular fa-heart"></i>
                            </div>
                            <img class="products-cards__image" src="./images/producto_bourbon_mobile.png" alt="">

                            <div class="card__items">
                                <h4>Bournbon</h4>  
                                <span>$ 375</span>


                                <input list="molienda-select-choice" id="molienda-select" name="molienda-select"
                                    placeholder="Molienda" />

                                <datalist id="molienda-select-choice">
                                    <option value="Extra Fina">
                                    <option value="Fina">
                                    <option value="Gruesa">
                                </datalist>

                                <button type="">Agregar al carrito</button>

                            </div>
                        </div>

                        <div class="card space-arround">
                            <div class="products-cards__like">
                                <i class="fa-regular fa-heart"></i>
                            </div>
                            <img class="products-cards__image" src="./images/producto_nicaragua_mobile.png" alt="">

                            <div class="card__items">
                                <h4>Nicaragua</h4>  
                                <span>$ 375</span>


                                <input list="molienda-select-choice" id="molienda-select" name="molienda-select"
                                    placeholder="Molienda" />

                                <datalist id="molienda-select-choice">
                                    <option value="Extra Fina">
                                    <option value="Fina">
                                    <option value="Gruesa">
                                </datalist>

                                <button type="">Agregar al carrito</button>

                            </div>
                        </div>

                        <div class="card space-arround">
                            <div class="products-cards__like">
                                <i class="fa-regular fa-heart"></i>
                            </div>
                            <img class="products-cards__image" src="./images/producto_guatemala_mobile.png" alt="">

                            <div class="card__items">
                                <h4>Guatelama</h4>  
                                <span>$ 375</span>


                                <input list="molienda-select-choice" id="molienda-select" name="molienda-select"
                                    placeholder="Molienda" />

                                <datalist id="molienda-select-choice">
                                    <option value="Extra Fina">
                                    <option value="Fina">
                                    <option value="Gruesa">
                                </datalist>

                                <button type="">Agregar al carrito</button>

                            </div>
                        </div>

                        <div class="card space-arround">
                            <div class="products-cards__like">
                                <i class="fa-regular fa-heart"></i>
                            </div>
                            <img class="products-cards__image" src="./images/producto_etiopia_mobile.png" alt="">

                            <div class="card__items">
                                <h4>Etiopia</h4>  
                                <span>$ 375</span>


                                <input list="molienda-select-choice" id="molienda-select" name="molienda-select"
                                    placeholder="Molienda" />

                                <datalist id="molienda-select-choice">
                                    <option value="Extra Fina">
                                    <option value="Fina">
                                    <option value="Gruesa">
                                </datalist>

                                <button type="">Agregar al carrito</button>

                            </div>
                        </div>

                        <div class="card space-arround">
                            <div class="products-cards__like">
                                <i class="fa-regular fa-heart"></i>
                            </div>
                            <img class="products-cards__image" src="./images/producto_verona_mobile.png" alt="">

                            <div class="card__items">
                                <h4>Verona</h4>  
                                <span>$ 375</span>


                                <input list="molienda-select-choice" id="molienda-select" name="molienda-select"
                                    placeholder="Molienda" />

                                <datalist id="molienda-select-choice">
                                    <option value="Extra Fina">
                                    <option value="Fina">
                                    <option value="Gruesa">
                                </datalist>

                                <button type="">Agregar al carrito</button>

                            </div>
                        </div>

                        <div class="card space-arround">
                            <div class="products-cards__like">
                                <i class="fa-regular fa-heart"></i>
                            </div>
                            <img class="products-cards__image" src="./images/producto_costa-rica_mobile.png" alt="">

                            <div class="card__items">
                                <h4>Costa Rica</h4>  
                                <span>$ 375</span>


                                <input list="molienda-select-choice" id="molienda-select" name="molienda-select"
                                    placeholder="Molienda" />

                                <datalist id="molienda-select-choice">
                                    <option value="Extra Fina">
                                    <option value="Fina">
                                    <option value="Gruesa">
                                </datalist>

                                <button type="">Agregar al carrito</button>

                            </div>
                        </div>

                        <div class="card space-arround">
                            <div class="products-cards__like">
                                <i class="fa-regular fa-heart"></i>
                            </div>
                            <img class="products-cards__image" src="./images/producto_colombia_mobile.png" alt="">

                            <div class="card__items">
                                <h4>Colombia</h4>  
                                <span>$ 375</span>


                                <input list="molienda-select-choice" id="molienda-select" name="molienda-select"
                                    placeholder="Molienda" />

                                <datalist id="molienda-select-choice">
                                    <option value="Extra Fina">
                                    <option value="Fina">
                                    <option value="Gruesa">
                                </datalist>

                                <button type="">Agregar al carrito</button>

                            </div>
                        </div>

                        <div class="card space-arround">
                            <div class="products-cards__like">
                                <i class="fa-regular fa-heart"></i>
                            </div>
                            <img class="products-cards__image" src="./images/producto_sumantra_mobile.png" alt="">

                            <div class="card__items">
                                <h4>Sumantra</h4>  
                                <span>$ 375</span>


                                <input list="molienda-select-choice" id="molienda-select" name="molienda-select"
                                    placeholder="Molienda" />

                                <datalist id="molienda-select-choice">
                                    <option value="Extra Fina">
                                    <option value="Fina">
                                    <option value="Gruesa">
                                </datalist>

                                <button type="">Agregar al carrito</button>

                            </div>
                        </div>

                        <div class="card space-arround">
                            <div class="products-cards__like">
                                <i class="fa-regular fa-heart"></i>
                            </div>
                            <img class="products-cards__image" src="./images/producto_brasil_mobile.png" alt="">

                            <div class="card__items">
                                <h4>Brail</h4>  
                                <span>$ 375</span>


                                <input list="molienda-select-choice" id="molienda-select" name="molienda-select"
                                    placeholder="Molienda" />

                                <datalist id="molienda-select-choice">
                                    <option value="Extra Fina">
                                    <option value="Fina">
                                    <option value="Gruesa">
                                </datalist>

                                <button type="">Agregar al carrito</button>

                            </div>
                        </div>


                    </div>


                </section>





            </main>
            <%- include('./partials/footer.ejs') %>
    </body>

</html>