.formulario{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
}

.formulario-avatar{
    width: 100%;
    margin-top: 5%fi;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar{
    background-color: aliceblue;
    border-radius: 2.5rem;
}

.wrapper {
    width: 100%;
    display: flex;
  }
  

.form-left{
    width: 50%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-rigth{
    width: 50%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

.formulario-register{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.form-input{
margin-top: 5%;
margin-bottom: 5%;
}

input{
    padding: 1%;
    border-radius: 5px;
}


button:active{
    transform: scale(.9);
}

button{
    cursor: pointer;
    padding: 10%;
    border-radius: 5px;
}