.formulario{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: var(--main-othercolor);
}

.formulario-avatar{
    width: 100%;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar{
    background-color: aliceblue;
    border-radius: 2.5rem;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  

.form-left{
    width: 50%;
    margin: 0.5rem;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.form-rigth{
    width: 50%;
    margin: 0.5rem;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}


.formulario-register{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0.5rem;
}