<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %>

    <!-- hay que ver como hacer el llamado a este css  <link rel="stylesheet" href="../public/stylesheets/login.css">, mientras tanto esto va a estar roto -->

    <body>

        <%- include('../partials/header.ejs') %>

            <main>
                <div class="formulario">
                    <div class="formulario-avatar">
                        <div class="avatar">
                            <img src="../images/grano.png" alt="avatar usuario">
                        </div>


                    </div>
                    <div class="wrapper">
                        <div class="form-left">

                            <label for="name">Nombre</label>
                            <input type="text" id="name">


                            <label for="email">Email</label>
                            <input type="email" id="emal">

                            <label for="password">Password</label>
                            <input type="password" id="password">

                            <label for="address">Direccion de Residencia</label>
                            <input type="address" name="" id="address">

                        </div>
                        <div class="form-rigth">

                            <label for="lastName">Apellido</label>
                            <input type="text" name="" id="lastName">

                            <label for="phone">Telefono</label>
                            <input type="phone" name="" id="phone">


                            <label for="passwordReValid">Validar contraseña</label>
                            <input type="text" id="passwordReValid">


                            <label for="apartment">Apartamento</label>
                            <input type="text" id="apartment">

                        </div>
                    </div>
                    <div class="formulario-register">
                        <button>Registrarse</button>
                    </div>

                </div>
                </main>
            <%- include('../partials/footer.ejs') %>

                <!-- <button id = "open">
            Login
        </button>
        <div class="modal-container" id="modal_container">
            <div class="modal">
                <div class="miniModal">
                    <h1>¡Ingresá!</h1>
                <p>Escribí tus datos acá:</p>
                <button id="close">Cerrar</button>
                </div>
            </div>
        </div> -->

                <script src="login.js"> </script>
    </body>

</html>