<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head.ejs', {title:"Register", style:"login"}) %>

        <body>

            <%- include('../partials/header.ejs') %>
            <main>
                <div class="formulario">
                    <div class="formulario-avatar">
                        <div class="avatar">
                            <img src="../images/grano.png" alt="avatar usuario">
                        </div>

                    </div>
                    <div class="wrapper">
                        <div class="form-login">

                            <div class="form-input">
                                <label for="email">Email</label>
                                <input type="email" id="emal">
                            </div>
  
                            <div class="form-input">
                                <label for="password">Password</label>
                                <input type="password" id="password">
                                <span><a href="">¿Olvidaste tu contraseña?</a></span>
                            </div>

                        </div>
                    </div>
                    <div class="formulario-register">
                        <button>Iniciar Sesion</button>
                        <span>¿No tenés cuenta?<a href="./register"> Crear cuenta</a></span>
                    </div>

                </div>
                </main>

                <%- include('../partials/footer.ejs') %>
        </body>

</html>