<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head.ejs', {title:"Login", style:"login"}) %>

    <!-- hay que ver como hacer el llamado a este css  <link rel="stylesheet" href="../public/stylesheets/login.css">, mientras tanto esto va a estar roto -->

    <body>

        <%- include('../partials/header.ejs') %>

            <main>
                <div class="formulario">
                    <div class="formulario-avatar">
                        <div class="avatar">
                            <img src="../images/grano.png" alt="avatar usuario">
                        </div>


                    </div>
                    <div class="wrapper">
                        <div class="form-left">
                            <div class="form-input">
                                <label for="name">Nombre</label>
                                <input type="text" id="name">
                            </div>

                            <div class="form-input">
                                <label for="lastName">Apellido</label>
                                <input type="text" name="" id="lastName">
                            </div>

                            <div class="form-input">
                                <label for="password">Password</label>
                                <input type="password" id="password">
                            </div>

                            <div class="form-input">
                                <label for="passwordReValid">Validar contraseña</label>
                                <input type="password" id="passwordReValid">
                            </div>


                        </div>
                        <div class="form-rigth">
                            <div class="form-input">
                                <label for="email">Email</label>
                                <input type="email" id="emal">
                            </div>

                            <div class="form-input">
                                <label for="email">Validar Email</label>
                                <input type="email" id="emal">
                            </div>

                            <div class="form-input">
                                <label for="phone">Telefono</label>
                                <input type="phone" name="" id="phone">
                            </div>

                            <div class="form-input">
                            
                                <label for="phone">Cafe Favorito</label>
                                <input type="phone" name="" id="phone" list="molienda-select-choice">
                            
                                <datalist id="molienda-select-choice">
                                    <option value="Brasil">
                                    <option value="Etioopia">
                                    <option value="Costa Rica">
                                    <option value="Colombia">
                                    <option value="Bourbon">
                                    <option value="Nicaragua">
                                    <option value="Guatemala">
                                    <option value="Sumatra">
                                    <option value="Verona">
                                </datalist>
                            </div>

                        </div>
                    </div>

                    <div class="formulario-register">
                        <button>Registrarse</button>
                    </div>

                </div>
                </main>
            <%- include('../partials/footer.ejs') %>


    </body>

</html>