<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %>

    <!-- hay que ver como hacer el llamado a este css <link rel="stylesheet" href="../public/stylesheets/register.css"> mientras tanto esto va a estar roto -->

    <%- include('../partials/head.ejs') %>

        <body>

            <%- include('../partials/header.ejs') %>
                <main class="formulario">
                    <div class="user">
                        <img src="" alt="avatar usuario">
                    </div>

                    <div class="container-formulario">
                        <form class="formulario-campos" action="" method="get">
                            <div class="input-formulario">

                                <div class="form-left">
                                    <p>
                                        <label for="">Nombre</label>
                                    </p>
                                    <p>
                                        <input type="text">
                                    </p>

                                    <p>
                                        <label for="">Email</label>
                                    </p>
                                    <p>
                                        <input type="email">
                                    </p>

                                    <p>
                                        <label for="">Contraseña</label>
                                    </p>
                                    <p>
                                        <input type="password">
                                    </p>

                                    <p>
                                        <label for="">Direccion de Residencia</label>
                                    </p>
                                    <p>
                                        <input type="address" name="">
                                    </p>

                                </div>

                                <div class="form-rigth">
                                    <p>
                                        <label for="">Apellido</label>
                                    </p>
                                    <p>
                                        <input type="text" name="" id="">
                                    </p>

                                    <p>
                                        <label for="">Telefono</label>
                                    </p>
                                    <p>
                                        <input type="number" name="" id="">
                                    </p>

                                    <p>
                                        <label for="">Validar contraseña</label>
                                    </p>
                                    <p>
                                        <input type="password" name="" id="">
                                    </p>

                                    <p>
                                        <label for="">Piso</label>
                                    </p>
                                    <p>
                                        <input type="number">
                                    </p>

                                    <p>
                                        <label for="">Apartamento</label>
                                    </p>
                                    <p>
                                        <input type="text">
                                    </p>
                                </div>
                            </div>
                            <div class="news-register">
                                <p>Deseo recibir email publicitarios</p> <input class="news" type="checkbox">
                                <button class="register" type="submit">Registrarme</button>
                            </div>
                        </form>
                    </div>
                </main>


                <%- include('../partials/footer.ejs') %>
        </body>

</html>