<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head.ejs', {title:"Detelle de Producto", style:"productDetails"}) %>



<body>

    <%- include('../partials/header.ejs') %> 

    <main>
        <div class="cabecera">
            <div class="flecha"><i class="fa-sharp fa-solid fa-arrow-left"></i></div>
            <h2 class="nombre-prodcuto"> Nombre del producto </h2>
            <div class="flecha"><i class="fa-sharp fa-solid fa-arrow-right"></i></div>
        </div>
        <div class="cuerpo-producto">

            <div class="izquierda">
                <div class="img-miniatura">
                   <div class="primer-img"></div>
                   <div class="segunda-img"></div>
                </div>
            
                <div class="producto-principal">
                    <div class="img-producto"></div>
                </div>                
            </div>

            <div class="derecha">
                <div class="peso-cantidad">
                    <div class="peso">                        
                        <form action="resultado.html" method="POST">
                            <p><label><h2>Peso</h2></label></p>
                            <p><select class="gramos">
                              <option value="5">250 g</option>
                              <option value="10">500 g</option>
                              <option value="15">1 kg</option>
                            </select></p>
                        </form>
                    </div>
                    <div class="cantidad">
                        <form action="unidades">
                            <p><label for="quantity"><h2>Cantidad </h2></label></p>
                            <p><input type="number" id="quantity" name="quantity" min="1" max="5"></p>
                        </form>
                    </div>
                </div>

                <div class="metodo-preparacion">
                    <div class="titulo"><p><h2>Metodo de Preparacion</h2></p></div>
                    <div class="iconos-preparacion">
                        <div class="icon">
                            <img class="grano" src="/images/grano.png" alt="grano" srcset="">
                            <div>Wholebean</div>
                        </div>
                        <div class="icon">
                            <img class="espresso" src="/images/espresso.png" alt="grano" srcset="">
                            <div>Expresso</div>
                        </div>
                        <div class="icon">
                            <img class="v60" src="/images/v60.png" alt="grano" srcset="">
                            <div>V60</div>
                        </div>
                        <div class="icon">
                            <img class="aropress" src="/images/aeropress.png" alt="grano" srcset="">
                            <div>Aeropress</div>
                        </div>
                        <div class="icon">
                            <img class="moka" src="/images/moka.png" alt="grano" srcset="">
                            <div>Moka pot</div>
                        </div>
                        <div class="icon">
                            <img class="prensa-francesa" src="/images/prensa.png" alt="grano" srcset="">
                            <div>Prensa Francesa</div>
                        </div>
                    </div>
                </div>
                <div class="tip">
                    <div class="titulo-tip"><h2>Tip</h2></div>
                    <div Class="descripcion-tip">El café descafeinado lo toman muchas personas hipersensibles a la cafeína presente en los cafés recién tostados. Se prepara tratando al vapor a presión los granos de café y extrayendo la cafeína por medio de disolventes, tales como el cloroformo y el tetracloruro de carbono. El disolvente se evapora. Como el proceso de extracción de la cafeína se ejerce sobre los granos de café crudo, no pierde el café sus cualidades de gusto y aroma.</div>
                </div>

                <div class="carrito"> <h3> Anadir al carrito </h3> </div>

            </div>
            
        </div>

        <div class="recomendacion">
            <div class="titulo-recomendados"><h2>Recomendados</h2></div>
            <div class="imagenes-recomendadas">
                <div class="img"></div>
                <div class="img"></div>
                <div class="img"></div>
            </div>
        </div>
    </main>
    <%- include('../partials/footer.ejs') %> 
</body>

</html>